<?xml version="1.0" encoding="utf-8" ?>
<config>
    	<!-- Delays in seconds, e.g. to delay the lights from turning on between episodes -->
	<plexCheck
		checkInterval="2" c="the interval is in seconds"
		plexStatusUrl="http://localhost:32400/status/sessions"
	/>
	
	<!-- YOU NEED TO UPDATE APP ID, ACCESS TOKEN AND UPDATE THE URL TO MATCH THE URL OF YOUR IDE, FROM THIS graph.api.smartthings.com-->
	<!-- IF ON THE US WEST SERVER THIS IS LIKELY TO BE: graph-na02-useast1.api.smartthings.com -->
	<!-- IF IN THE EU THIS IS LIKELY TO BE: graph-eu01-euwest1.api.smartthings.com -->
	<smartThingsEndpoints
		accessToken="ACCESS_TOKEN_HERE"
		onPlay="https://graph.api.smartthings.com/api/smartapps/installations/APP_ID_HERE/statechanged/onplay"
		onPause="https://graph.api.smartthings.com/api/smartapps/installations/APP_ID_HERE/statechanged/onpause"
		onStop="https://graph.api.smartthings.com/api/smartapps/installations/APP_ID_HERE/statechanged/onstop"
	/>
	
	<!-- Delays in seconds, e.g. to delay the lights from turning on between episodes -->
	<delays>
		<!-- <item type="episode" event="stop" delay="10" /> -->
		<!-- <item type="movie" value="pause" delay="2" /> -->
		<!-- <item type="movie" value="play" delay="7" /> -->
	</delays>

	<!-- Add items to this list to not process them -->
	<ignoreList>
		<!-- <item type="user" value="Test User A" />  -->
		<!-- <item type="player" value="Test Player A" /> -->
		<!-- <item type="type" value="episode" /> -->
	</ignoreList>
	
	<!--Any items on the whitelist will be processed even if they are on the ignore list. -->
	<whiteList onlyAllowWhitelisted="false">
		<!-- <item type="user" value="Test User B" /> -->
		<!-- <item type="player" value="Test Player B" /> -->
		<!-- <item type="type" value="movie" /> -->
	</whiteList>
</config>