<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE root [
  <!ENTITY accessToken "123-123-123">
  <!ENTITY appId "abc-abc-abc">
  <!ENTITY ide "https://graph-eu01-euwest1.api.smartthings.com">
  <!ENTITY plexStatusUrl "http://localhost:32400/status/sessions">
]>
<config>
  <plexCheck
  checkInterval="1" c="the interval is in seconds"
  plexStatusUrl="&plexStatusUrl;"
  debugLevel="2"
	/>
  <smartThingsEndpoints
		accessToken="&accessToken;"
		onPlay="&ide;/api/smartapps/installations/&appId;/statechanged/onplay"
		onPause="&ide;/api/smartapps/installations/&appId;/statechanged/onpause"
		onStop="&ide;/api/smartapps/installations/&appId;/statechanged/onstop"
	/>
	
	<!-- Delays in seconds, e.g. to delay the lights from turning on between episodes -->
	<delays>
		<!-- <item type="episode" event="stop" delay="10" /> -->
		<!-- <item type="movie" value="pause" delay="2" /> -->
		<!-- <item type="movie" value="play" delay="7" /> -->
	</delays>

	<!-- Add items to this list to not process them -->
	<ignoreList>
		<!-- <item type="user" value="Test User A" />  -->
		<!-- <item type="player" value="Test Player A" /> -->
		<!-- <item type="type" value="episode" /> -->
	</ignoreList>
	
	<!--Any items on the whitelist will be processed even if they are on the ignore list. -->
	<whiteList onlyAllowWhitelisted="false">
		<!-- <item type="user" value="Test User B" /> -->
		<!-- <item type="player" value="Test Player B" /> -->
		<!-- <item type="type" value="movie" /> -->
	</whiteList>
</config>